@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  background-color: #333;
  color: #b8b3b3;
}

.light-mode {
  background-color: #D9D9D9;
  color: #333;
}

#particlesBackground canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.font-source-sans {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 17px;
  font-style: normal;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  /* font-size: 17px; */
  font-style: normal;
}

.font-kanit {
  font-family: "Kanit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* body {
    margin: 0;
    padding: 0;
    background-image: url("../src/assets/background.jpg");
    background-size: cover;
    @apply backdrop-blur-sm
  } */

  hr {
    /* visibility: hidden; */
    margin: 0 auto;
    width: 100%;
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #008DDA, rgba(255, 255, 255, 0));
  }

  .active{
    @apply text-primary
  }

  /* SwiperSlider */
  .swiper {
    width: 100%;
    height: 450px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }